:root{
    --background-color1: #000000;
    --background-color2: rgb(15,15,15);
    --dark-color: #3E3636;
    --red-color: #D72323;
    --bright-color: #F5EDED;
}


body {
    background-color: var(--background-color2);
    font-family: 'Roboto', sans-serif;;
}
h1, p {
    color: var(--bright-color);
    text-align: center;
    
}
#title {
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    margin-bottom: -20px;
}

#comments{
    margin-top: 130px;
}

#buttons{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color2);
    padding: 20px;
    height: 500px;
    width: 1300px;
    gap:20px;
    border-radius: 30px;
    margin-inline:auto;
   
}

button{
    transition-duration: 200ms;
}

.rps-buttons{
    background-color: var(--bright-color);

    height: 400px;
    width: 400px;
    font-size: 600%;
    border-radius: 50%;
    border-color: transparent;
    border-width: 10px;
    

}
.rps-buttons:active{
    border-color: var(--red-color);
    border-style:solid;
    border-width: 10px;
    background-color: rgb(20,20,20);
}

#comment-1, #comment-2 {
    font-size: 2em;
   
}

#YOU, #ROBOT {
    display:inline-block;
    position: fixed;
    font-size: 2em;
}
#YOU{
    top: 50%;
    left : -100px;
}
#ROBOT {
    top:53%;
    right: -300px;
}

#chad-healthbar, #robot-healthbar {
    background-color: #000000;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 300px;
    height: 50px;
    border-radius: 10px;
}
#chad-health, #robot-health{
    background-color: #D72323;
    transition-duration: 500ms;
    margin: 15px;
    width: 270px;
    height: 30px;
    border-radius: 10px;
}

#chad-healthbar {
    position:fixed;
    top: 45%;
}
#robot-healthbar {
    position:fixed;
    top: 45%;
    right: 0%;
    margin-right:15px;
}

#restart-page {
    margin-top: -5%;
    display:flex;
    transform: translateY(-100%);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: var(--background-color1);
    transition: transform 1s ease-in-out;
    
}
#restart-page > button {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: var(--red-color);
    

}
#restart-page > button:active{
    background-color: #921c16;
}




#restart-page >p{
    font-size: 2em;
}